<div class = "container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <%  Allfilmoteca.map ((A) =>{ %>
                        <div class="col">
                            <div class="card">
                                <image src= <%- A.poster %> >
                                <div class="card-body"></div>
                                <div class="card-title"><b><%- A.titulo%></b></div>
                                <div class="card-text"><b>categoria:</b><%- A.categoria %></div>
                                <div class="card-text"><b>genero:</b><%- A.genero %></div>
                                <div class="card-text"><b>resumen:</b><%- A.resumen %></div>
                                <div class="card-text"><b>temporadas:</b><%- A.temporada %></div>
                                <div class="card-text"><b>reparto:</b><%- A.reparto %></div>
                                <div class="card-text"><b>trailer:</b><%- A.trailers %></div>
                            </div>
                    </div>
        <% }) %>
    </div>
</div>

